{% extends 'base.html' %}
{% block title %}
<title> Ranklist | Battle Of Brain</title>
{% endblock %}
{% block content %}

<style>
 body {
        font-family : Times New Roman;
    }
</style>

<br>
<br>
<h4 align="center"> <i> {{contest.title}} Standings </i> </h4> <br>
<table class="table table-sm table-striped table-bordered w-auto" align="center">
  <thead>
    <tr>
      <th align="center"> Rank </th>
      <th align="center"> User </th>
      <th align="center"> Total Solved </th>
      <th align="center"> Penalty </th>
      {% for problem in contest.problem_set.all %}
        <th align="center"> {{forloop.counter}}.{{problem.title}} </th>
      {% endfor %}
    </tr>
  </thead>
    <tbody>
        <tr>
          {% for stat in standings %}
            <td>{{forloop.counter}}</td>
            <td> {{stat.contestant.username}}</td>
            <td> {{stat.solved}}</td>
            <td> {{stat.penalty_time}}</td>
            {% for prob in stat.problemtry_set_all %}
              {% for flag in prob %}
                     <th align="center">{{flag.status}}</th>
              {% endfor %}
            {% endfor %}
          {% endfor %}
        </tr>
    </tbody>
</table>
{% endblock %}